
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


.modal-content h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}


.contact-form {
    display: flex;
    flex-direction: column;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    font-weight: 600;
}


.form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007BFF;
}

.contact-form button[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}


.contact-form button[type="button"] {
    padding: 10px;
    background-color: #ccc;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.contact-form button[type="button"]:hover {
    background-color: #888;
}


@media (max-width: 600px) {
    .modal-content {
        padding: 20px;
        width: 90%;
    }

    .modal-content h2 {
        font-size: 20px;
    }

    .contact-form button {
        font-size: 14px;
    }
}
